<h1>Add a picture</h1>

<form action="/pictures" method="POST">  ##we are sending something to the server
	
	<p>
		<label>Artist</label>
		<input type="text" name="artist">
	<p/>
	<p>
		<label>Label</label>
		<input type="text" name="label">
	</p>
	<p>
		<label>URL</label>
		<input type="text" name="URL">
	</p>
	
	<p>
		<input type="submit" name="Submit">		
	</p>
	
</form>
