<h1>Add a picture</h1>

<div class ="errors">
	<%= flash[:error] %>
</div>

<!-- #this is going to look for the file with an underscore, partials always start with an underscore in their name -->
<%= render :partial => "form" %>  

