<h1>Show the picture</h1>

<h1> <%= @picture[:title] %> </h1>
<img src="<%= @picture[:url] %>" class ="picture">
<h1> <%= @picture[:artist] %> </h1>		
<%= button_to "Edit This Image", edit_picture_path(@picture), :method => :get %>  <!-- #creates a button  -->
